{% load i18n %}{% autoescape off %}
{% trans "Hi" %} {{ user.get_username }}.

{% trans "We've recieved a request to reset your password. If you didnt make 
this request, you can safely ignore this email. Other wise, click the button
 below to reset your password." %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
{% endautoescape %}